<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <nav class="nav-bar"> 
            <ul class="nav-bar__list">
                <li class="nav-bar__item"><a href="/">Shop</a></li>
                <li class="nav-bar__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <h1 style="padding-left:10px;color:var(--white)">Page Not Found!</h1>
</body>
</html>
