<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop App</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        
    </style>
</head>
<body>
    <header>
        <nav class="nav-bar"> 
            <ul class="nav-bar__list">
                <li class="nav-bar__item"><a href="/" class="active">Shop</a></li>
                <li class="nav-bar__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main class="add-product-content">
        <h1 class="add-product-content__title">Add a product</h1>
        <form  class="add-product-content__form" action="/admin/product" method="POST">
            <input class="add-product-content__form-input" type="text" width= "300px" name="product" />
            <button class="add-product-content__form-button" type="submit">Add product</button>
        </form>
        
    </main>
</body>
</html>