<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musha</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="product.css">
    <link rel="stylesheet" href="cards.css">

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-bar__logo">
                <img src="/assets/logo.png" alt="Website Logo"/>
                <h1 class="nav-bar__brand">Mu<span class="nav-bar__brand--emphasize">sha</span></h1>
            </div>  
            <ul class="nav-bar__list">
                <li class="nav-bar__item"><a href="/" class="active">Music Albums</a></li>
                <li class="nav-bar__item"><a href="/admin/add-product">Add Album</a></li>
            </ul>
        </nav>
    </header>

    <main class="shop-content">
        <h1 class="shop-content__title">Music Albums</h1>
        <h2 class="shop-content__list-name">Popular Albums</h2>
        <div class="card">
            <div class="card__image">
              <img src="/assets/card-image-sample.jpg">
            </div>
             <div class="card__content">
               <h1 class="card__title">Punisher</h1>
               <p class="card__publisher">Publisher</p>
               <p class="card__genre">METAL</p>
               <p class="card__author">By Michael James</p>
             </div>
        </div>
    </main>

</body>
    
</html>