<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <nav class="nav-bar"> 
            <ul class="nav-bar__list">
                <li class="nav-bar__item"><a href="/" class="active">Shop</a></li>
                <li class="nav-bar__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main class="shop-content">
        <h1 class="shop-content__title">My Products</h1>
        <h2 class="shop-content__list-name">Product Lists</h2>
    </main>
</body>
    
</html>