@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');
* {
    padding: 0;

    font-family:'Poppins';

    box-sizing: border-box;
    
}

:root {
    --white: rgb(242, 239, 255);
    --light-blue: rgba(10, 2, 39, 0.9);
    --black: rgb(65,56,56);
    --pink: rgba(234, 25, 130, 0.87);
    --light-pink: rgb(216, 102, 159);
}

body {
    height: 100vh;
    background-color: var(--light-blue) ;
}

.nav-bar{
    width:100%;
    display:flex;
    justify-content: space-between;

    padding-top:2vh;

}

.nav-bar > ul {
    display: flex;
    align-items: center;


    padding: 0;
    margin: 0;

    list-style-type: none;
}

.nav-bar ul > li {
    padding: 3px 5px;
    margin-right: 10px;

    font-size: 1.25rem;

    /* background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 5px; */
}

/* -----------LOGO----------- */
.nav-bar__logo {
    display:flex;
    align-items: center;
}

.nav-bar__brand {
    color: var(--white);

    font-size: 1.5rem;
    text-transform: uppercase;

}

.nav-bar__brand--emphasize {
    color: var(--pink);
    font-size: 2.5rem;
}

.nav-bar__logo img{
    width: 40px;
    height: 25px;
}

.nav-bar__item > a {
    color: var(--white);

    text-decoration: none;
}

.nav-bar__item a:active,
.nav-bar__item a:hover {
    color: var(--light-pink);
}


main {
    width:80%;
    margin: 5vh auto 0;

    color: var(--white);
}

/* ____SHOP_____ */
.shop-content__title {
    text-align:center;
    font-size: 3rem;
}

.shop-content__list-name {
    font-weight: lighter;
    margin-top:5vh;
}


